<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <div class="page_link">
                    <a href="/">Home</a>
                    <a href="/about">About</a>
                </div>
                <h2>About Us</h2>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<section class="welcome_area pad_btm " style="padding-top: 50px;">
<div class="container">
<div class="welcome_inner row">
    <div class="col-lg-5">
        <div class="welcome_img">
            <img class="img-fluid" src="img/gallery/img3.jpg" alt="">
        </div>
    </div>
    <div class="col-lg-6 offset-lg-1">
        <div class="welcome_text">
            <h2>Build the world</h1>
            <h3>Bike #ALL the way</h3>
            <h4>HCM-City : 19/03/2019</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea ex corrupti reprehenderit tempore quos ab commodi eum eaque praesentium excepturi laudantium nulla repellendus vitae, est impedit facilis voluptatibus aperiam nesciunt.</p>
            <a class="tickets_btn" href="#">Register Now!</a>
        </div>
    </div>
</div>
</div>
</section>
<!--================End Welcome Area =================-->
<section class="welcome_area pad_btm " style="padding-top: 50px;">
<div class="container">
    <div class="welcome_inner row">
        <div class="col-lg-5 ">
                <div class="welcome_text">
                    <h2>#Join with us</h1>
                    <h3>We Need you</h3>
                    <h4>HCM-City : 19/03/2019</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea ex corrupti reprehenderit tempore quos ab commodi eum eaque praesentium excepturi laudantium nulla repellendus vitae, est impedit facilis voluptatibus aperiam nesciunt.</p>
                    <a class="tickets_btn" href="#">Register Now!</a>
                </div>
        </div>
        <div class="col-lg-6 offset-lg-1">
            <div class="welcome_img">
                <img class="img-fluid" src="img/gallery/img5.jpg" alt="">
            </div>
        </div>
        
    </div>
</div>
</section>
<section class="welcome_area pad_btm " style="padding-top: 50px;">
    <div class="container">
        <div class="welcome_inner row">
            <div class="col-lg-5">
                <div class="welcome_img">
                    <img class="img-fluid" src="img/gallery/img1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="welcome_text">
                    <h2>Join your hands to</h1>
                    <h3>#ChangeTheWORLD</h3>
                    <h4>HCM-City : 19/03/2019</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea ex corrupti reprehenderit tempore quos ab commodi eum eaque praesentium excepturi laudantium nulla repellendus vitae, est impedit facilis voluptatibus aperiam nesciunt.</p>
                    <a class="tickets_btn" href="#">Register Now!</a>
                </div>
            </div>
        </div>
    </div>
</section>