<!--================Home Banner Area =================-->

<!--================End Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <div class="page_link">
                    <a href="/">Home</a>
                    <a href="/artist">Gallery</a>
                </div>
                <h2>Meet our Artist</h2>
            </div>
        </div>
    </div>
</section>
<!--================Team Area =================-->
<section class="team_area pad_top white_bg">
    <div class="container">
        <div class="main_title">
            <h2>Meet Artists</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, sed. Aut vero possimus enim odit? Ut magni cumque, eos aliquid deserunt amet porro quod veniam ex tenetur accusamus molestiae quam!</p>
        </div>
        <div class="row team_inner">
                <div class="col-lg-3 col-sm-6">
                    <div class="team_item">
                        <div class="team_img">
                            <img class="img-fluid" src="img/team/dalab.png" alt="">
                        </div>
                        <div class="team_name">
                            <h4>Dalab</h4>
                            <p>Singer</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team_item">
                        <div class="team_img">
                            <img class="img-fluid" src="img/team/masew.jpg" alt="">
                        </div>
                        <div class="team_name">
                            <h4>Masew</h4>
                            <p>Music Producer</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team_item">
                        <div class="team_img">
                            <img class="img-fluid" src="img/team/lavaband.png" alt="">
                        </div>
                        <div class="team_name">
                            <h4>LavaBand</h4>
                            <p>T.O.P Band</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team_item">
                        <div class="team_img">
                            <img class="img-fluid" src="img/team/tam-tsui-color-me-run.png" alt="">
                    
                        </div>
                        <div class="team_name">
                            <h4>Tam Tsui</h4>
                            <p>Singer</p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>