<!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="banner_content text-center">
                    <div class="page_link">
                        <a href="index">Home</a>
                        <a href="gallery">Gallery</a>
                    </div>
                    <h2>Our Story</h2>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
    
    <!--================Contact Area =================-->
    <div class="container">
        <div class="card text-center" >
            <div class="card-body">
                <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12"><img src="img/gallery/img1.jpg" alt="" class="img-thumbnail"></div>
                        <div class="col-lg-3 col-md-6 col-sm-12"><img src="img/gallery/img2.jpg" alt="" class="img-thumbnail"></div>
                        <div class="col-lg-3 col-md-6 col-sm-12"><img src="img/gallery/img3.jpg" alt="" class="img-thumbnail"></div>
                        <div class="col-lg-3 col-md-6 col-sm-12"><img src="img/gallery/img4.jpg" alt="" class="img-thumbnail"></div>
                        <div class="col-lg-3 col-md-6 col-sm-12"><img src="img/gallery/img5.jpg" alt="" class="img-thumbnail"></div>
                        <div class="col-lg-3 col-md-6 col-sm-12"><img src="img/gallery/img6.jpg" alt="" class="img-thumbnail"></div>
                </div>
            </div>
        </div>
</div>