<!--================Header Menu Area =================-->
        
        <!--================Header Menu Area =================-->
        
        <!--================Home Banner Area =================-->
        <section class="home_banner_area">
            <div class="banner_inner">
				<div class="container">
					<div class="banner_content">
						<h2>The biggest cycling festival  <br />in Vietnam</h2>
						<h3>University of Science- HO CHI MINH CITY</br>19 March 2019</h3>
						<a href="/register" class="tickets_btn">Register Now</a>
					</div>
				</div>
            </div>
        </section>

        <section class="welcome_area pad_btm " style="padding-top: 50px;">
        	<div class="container">
        		<div class="welcome_inner row">
        			<div class="col-lg-5">
        				<div class="welcome_img">
        					<img class="img-fluid" src="img/gallery/img3.jpg" alt="">
        				</div>
        			</div>
        			<div class="col-lg-6 offset-lg-1">
        				<div class="welcome_text">
							<h2>Build the world</h1>
							<h3>Bike #ALL the way</h3>
        					<h4>HCM-City : 19/03/2019</h4>
        					<p> Tempore quos ab commodi eum eaque praesentium excepturi laudantium nulla repellendus vitae, est impedit facilis voluptatibus aperiam nesciunt.</p>
        					<a class="tickets_btn" href="#">Register Now!</a>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
		<!--================End Welcome Area =================-->
		<section class="welcome_area pad_btm " style="padding-top: 50px;">
				<div class="container">
					<div class="welcome_inner row">
						<div class="col-lg-5 ">
								<div class="welcome_text">
									<h2>#Join with us</h1>
									<h3>We Need you</h3>
									<h4>HCM-City : 19/03/2019</h4>
									<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea ex corrupti reprehenderit tempore quos ab commodi eum eaque praesentium excepturi laudantium nulla repellendus vitae, est impedit facilis voluptatibus aperiam nesciunt.</p>
									<a class="tickets_btn" href="#">Register Now!</a>
								</div>
						</div>
						<div class="col-lg-6 offset-lg-1">
							<div class="welcome_img">
								<img class="img-fluid" src="img/gallery/img5.jpg" alt="">
							</div>
						</div>
						
					</div>
				</div>
			</section>
			<section class="welcome_area pad_btm " style="padding-top: 50px;">
					<div class="container">
						<div class="welcome_inner row">
							<div class="col-lg-5">
								<div class="welcome_img">
									<img class="img-fluid" src="img/gallery/img1.jpg" alt="">
								</div>
							</div>
							<div class="col-lg-6 offset-lg-1">
								<div class="welcome_text">
									<h2>Join your hands to</h1>
									<h3>#ChangeTheWORLD</h3>
									<h4>HCM-City : 19/03/2019</h4>
									<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea ex corrupti reprehenderit tempore quos ab commodi eum eaque praesentium excepturi laudantium nulla repellendus vitae, est impedit facilis voluptatibus aperiam nesciunt.</p>
									<a class="tickets_btn" href="#">Register Now!</a>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- video area -->
		<div class="container video-bar ">
			<h2>#OUR STORY</h2>
				<iframe width="1179" height="600" src="https://www.youtube.com/embed/xW2wFI5qE1o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				
		</div>
		<!--================Team Area =================-->
		
        <section class="team_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>ARTIST</h2>
        			<p>When words fail, let the music speaks. 
							Join us on one of the most amazing concert to end the night with endless rhythm to your soul! Keep an eye for more updates!</p>
        		</div>
        		<div class="row team_inner">
        			<div class="col-lg-3 col-sm-6">
        				<div class="team_item">
        					<div class="team_img">
        						<img class="img-fluid" src="img/team/dalab.png" alt="">
        					</div>
        					<div class="team_name">
        						<h4>Dalab</h4>
        						<p>Singer</p>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-3 col-sm-6">
        				<div class="team_item">
        					<div class="team_img">
        						<img class="img-fluid" src="img/team/masew.jpg" alt="">
        					</div>
        					<div class="team_name">
        						<h4>Masew</h4>
        						<p>Music Producer</p>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-3 col-sm-6">
        				<div class="team_item">
        					<div class="team_img">
        						<img class="img-fluid" src="img/team/lavaband.png" alt="">
        					</div>
        					<div class="team_name">
        						<h4>LavaBand</h4>
        						<p>T.O.P Band</p>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-3 col-sm-6">
        				<div class="team_item">
        					<div class="team_img">
        						<img class="img-fluid" src="img/team/tam-tsui-color-me-run.png" alt="">
        						
        					</div>
        					<div class="team_name">
        						<h4>Tam Tsui</h4>
        						<p>Singer</p>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Team Area =================-->
		<div class="container">
			        <div class="row ">
            {{#each tickets}}
            <div class="col-lg-4 col-md-4">
                <div class="card">
                    <img class="card-img-top" src="/img/vipticket.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">{{name}}</h4>
                        <p class="card-text">{{description}} </p>
                    </div>
                    <div class="card-footer">
                        <div class="text-left pull-right">{{price}} $</div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
		</div>
		<div class="container video-bar">
			<h2>#MUSIC</h2>
			<iframe scroling="no" width=1150 height=120 src=https://mp3.zing.vn/embed/song/ZW9DIFFZ?start=false frameborder="0" allowfullscreen="true" ></iframe>
		</div>
        <!--================Event Schedule Area =================-->

        <!--================End Event Schedule Area =================-->
		<div class="container">
                <div class="card text-center" >
                    <div class="card-header card-gallery ">
                        <h2>Gallery</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
								<div class="col-lg-3 col-md-6 col-sm-12"><img src="img/gallery/img1.jpg" alt="" class="img-thumbnail"></div>
								<div class="col-lg-3 col-md-6 col-sm-12"><img src="img/gallery/img2.jpg" alt="" class="img-thumbnail"></div>
								<div class="col-lg-3 col-md-6 col-sm-12"><img src="img/gallery/img3.jpg" alt="" class="img-thumbnail"></div>
								<div class="col-lg-3 col-md-6 col-sm-12"><img src="img/gallery/img4.jpg" alt="" class="img-thumbnail"></div>
								<div class="col-lg-3 col-md-6 col-sm-12"><img src="img/gallery/img5.jpg" alt="" class="img-thumbnail"></div>
								<div class="col-lg-3 col-md-6 col-sm-12"><img src="img/gallery/img6.jpg" alt="" class="img-thumbnail"></div>
                        </div>
                    </div>
                </div>
        </div>
        <!--================End Event Schedule Area =================-->
        <section class="home_map_area">
			<div>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.630773293551!2d106.67998301520106!3d10.762912992330714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1c06f4e1dd%3A0x43900f1d4539a3d!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBLaG9hIGjhu41jIFThu7Egbmhpw6puIFRwLiBIQ00!5e0!3m2!1svi!2s!4v1552796198747" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>

        	<!-- <div id="mapBox2" class="mapBox2" 
				data-lat="10.76325" 
				data-lon="106.682140" 
				data-zoom="13" 
				data-info="PO Box CT16122 Collins Street West, Victoria 8007, Australia."
				data-mlat="10.76325"
				data-mlon="106.682140">
			</div> -->
       		<div class="home_details">
				<div class="container">
					<div class="box_home_details">
						<div class="media">
							<div class="d-flex">
								<i class="lnr lnr-home"></i>
							</div>
							<div class="media-body">
								<h4>HO CHI MINH CITY- VIETNAM</h4>
								<p>University of Science</p>
							</div>
						</div>
						<div class="media">
							<div class="d-flex">
								<i class="lnr lnr-clock"></i>
							</div>
							<div class="media-body">
								<h4>Just one day</h4>
								<p>19 March 2019</p>
							</div>
						</div>
						<div class="media">
							<div class="d-flex">
								<i class="lnr lnr-envelope"></i>
							</div>
							<div class="media-body">
								<h4>hthuc1998@gmail.com</h4>
								<p>Send us your query anytime!</p>
							</div>
						</div>
					</div>
				</div>
       		</div>
        </section>
        <!--================End Event Schedule Area =================-->
        
        <!--================Gallery Area =================-->

        <!--================End Gallery Area =================-->
        
