<!--================Home Banner Area =================-->

<!--================End Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <div class="page_link">
                    <a href="/">Home</a>
                    <a href="/artist">Gallery</a>
                </div>
                <h2>Meet our Artist</h2>
            </div>
        </div>
    </div>
</section>
<!--================Team Area =================-->
<section class="team_area pad_top white_bg">
    <div class="container">
        <div class="main_title">
            <h2>#LET SEE PEOPLE REVIEW US</h2>  
        </div>
        {{#each userReview}}
        <div class="jumbotron">
             <div class="container">
                    <h1 >{{User.name}}</h1>
                    <p class="lead">{{content}}</p>
                    <hr class="my-4">
                    <p class="lead">{{createdAt}}</p>
              </div>
        </div>
        {{/each}}
    </div>
</section>